VITE_FRONTEND_MODE=local
VITE_FASTAPI_BACKEND_URL=http://127.0.0.1:8000
VITE_LOCAL_BACKEND_URL=http://127.0.0.1:8000
VITE_BACKEND_URL=http://127.0.0.1:8000
VITE_SHOW_BACKEND_SELECTOR=true
VITE_ENABLE_REQUEST_BACKEND_SELECTION=true
VITE_DEFAULT_MODEL_BACKEND=bandon_mps
# This token is public and rate-limited, so no, you can't take over the world with it.
VITE_MAPBOX_API_KEY=pk.eyJ1IjoidGFoYWVsIiwiYSI6ImNtbnl6dHdqcjA3Z3EycXNmZHQyM3FkZWQifQ.IDf_zeGoMaPHcrsLOD5q7A
